# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.opendb
ipch/
*.tlog
*.log

# Сборки и кэш
**/Debug/
**/Release/
**/x64/
*.obj
*.pch
*.pdb
*.idb
*.iobj
*.ipdb
*.ilk
*.exe
*.dll
*.lib

# Пакеты и прочее
packages/
*.nupkg
*.snupkg

# Генераторы/временные
*.tmp
*.cache