# Если требуется, чтобы в репозитории попадали только исходные файлы (.cpp и .h),
# можно использовать строгий фильтр (раскомментировать нижеследующие строки):

# Игнорировать все файлы
*

# Но не игнорировать .gitignore и исходники
!*/
!.gitignore
!**/*.cpp
!**/*.h
